version: '3.7'
services:
  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    ports:
        - "306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./src/mysql:/var/lib/mysql

  php:
    build: ./src/php
    volumes:
      - ./src/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./web:/var/www
    ports:
      - 9000:9000

  apache:
    image: httpd:2.4
    volumes:
      - ./src/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./web:/var/www
    depends_on:
      - php
    ports:
      - 8080:8080

  nginx:
    image: nginx
    volumes:
      - ./src/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./src/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - apache
    ports:
      - 80:80    
      
